doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #logo
      img(src='/images/logo.png')
    #header
      header
        h2 Pilot Web Application using Node.js
        a(href="/").stuts 소스확인하기 on <span> Script Tutorials </span>
    block content