#userbar
	pre
	| Welcome &nbsp;   &nbsp;
	b #{username}&nbsp; 님! &nbsp;   &nbsp;
	| |&nbsp;
	a(href='/items') Items
	|&nbsp; |&nbsp;
	| |&nbsp;
	a(href='/upload') File Upload
	|&nbsp; |&nbsp;
	a(href='/logout') Logout